body {
	margin:0px;
	padding:0px;	
	background:lightgrey;
}

.mainContainer {
	width:728px;
	height:90px;
	border:1px solid #e9e9e9;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	background:#00AEEF;
}

.slide {
	width:inherit;
	height:inherit;
	position:absolute;
	overflow:hidden;
	background:url(img/728x90_sprite.png) no-repeat 0px 0px;
}

#slide01 {
	width:728px;
	height:600px;
	background-position: 0px 0px;
	opacity:0;
}

#slide02 {
	background-position: 0px -600px;
}

#slide03 {
	width:150px;
	height:90px;
	background-position: 0px -690px;
}

#slide04 {
	width:190px;
	height:90px;
	background-position: -150px -690px;
	opacity:0;
}

#slide05 {
	width:190px;
	height:90px;
	background-position: -340px -690px;
	opacity:0;
}

#slide06 {
	width:190px;
	height:90px;
	background-position: -530px -690px;
	opacity:0;
}

#slide07 {
	width:240px;
	height:150px;
	background-position: 0px -780px;
	opacity:0;
}

#slide08 {
	width:240px;
	height:150px;
	background-position: -240px -780px;
	opacity:0;
}

#slide09 {
	width:150px;
	height:90px;
	background-position: -578px -930px;
	opacity:0;
}

#slide10 {
	width:230px;
	height:90px;
	background-position: 0px -930px;
	opacity:0;
}

#slide11 {
	width:240px;
	height:150px;
	background-position: -480px -780px;
	opacity:0;
}

#slide12 {
	width:338px;
	height:90px;
	background-position: -230px -930px;
	opacity:0;
}


a.clicktag {
	display:block;
	text-decoration:none;
	border:none;
	position:relative;
	width:100%;
	height:100%;
}