body {
	margin:0px;
	padding:0px;	
	background:lightgrey;
}

.mainContainer {
	width:160px;
	height:600px;
	border:1px solid #e9e9e9;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	background:#00AEEF;
}

.slide {
	width:inherit;
	height:inherit;
	position:absolute;
	overflow:hidden;
	background:url(img/160x600_sprite.png) no-repeat 0px 0px;
}

#slide01 {
	width:440px;
	height:600px;
	background-position: 0px 0px;
	opacity:0;
}

#slide02 {
	background-position: -440px 0px;
}

#slide03 {
	background-position: 0px -600px;
}

#slide04 {
	width:160px;
	height:60px;
	background-position: -160px -600px;
	opacity:0;
}

#slide05 {
	width:160px;
	height:60px;
	background-position: -160px -660px;
	opacity:0;
}

#slide06 {
	width:160px;
	height:60px;
	background-position: -160px -720px;
	opacity:0;
}

#slide07 {
	width:160px;
	height:160px;
	background-position: -160px -780px;
	opacity:0;
}

#slide08 {
	width:160px;
	height:160px;
	background-position: -160px -940px;
	opacity:0;
}

#slide09 {
	width:160px;
	height:100px;
	background-position: -160px -1100px;
	opacity:0;
}

#slide10 {
	width:160px;
	height:60px;
	background-position: -320px -600px;
	opacity:0;
}

#slide11 {
	width:160px;
	height:200px;
	background-position: -320px -660px;
	opacity:0;
}

#slide12 {
	width:160px;
	height:340px;
	background-position: -320px -860px;
	opacity:0;
}


a.clicktag {
	display:block;
	text-decoration:none;
	border:none;
	position:relative;
	width:100%;
	height:100%;
}