body {
	margin:0px;
	padding:0px;	
	background:lightgrey;
}

.mainContainer {
	width:300px;
	height:250px;
	border:1px solid #e9e9e9;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	background:#00AEEF;
}

.slide {
	width:inherit;
	height:inherit;
	position:absolute;
	overflow:hidden;
	background:url(img/300x250_sprite.png) no-repeat 0px 0px;
}

#slide01 {
	width:400px;
	height:300px;
	background-position: 0px 0px;
	opacity:0;
}

#slide02 {
	background-position: -400px 0px;
}

#slide03 {
	background-position: 0px -300px;
}

#slide04 {
	width:150px;
	height:60px;
	background-position: -300px -300px;
	opacity:0;
}

#slide05 {
	width:150px;
	height:65px;
	background-position: -300px -360px;
	opacity:0;
}

#slide06 {
	width:150px;
	height:125px;
	background-position: -450px -300px;
	opacity:0;
}

#slide07 {
	width:150px;
	height:125px;
	background-position: -300px -425px;
	opacity:0;
}

#slide08 {
	width:150px;
	height:125px;
	background-position: -450px -425px;
	opacity:0;
}

#slide09 {
	width:300px;
	height:50px;
	background-position: -600px -500px;
	opacity:0;
}

#slide10 {
	width:150px;
	height:80px;
	background-position: -600px -300px;
	opacity:0;
}

#slide11 {
	width:150px;
	height:120px;
	background-position: -600px -380px;
	opacity:0;
}

#slide12 {
	width:150px;
	height:200px;
	background-position: -750px -300px;
	opacity:0;
}


a.clicktag {
	display:block;
	text-decoration:none;
	border:none;
	position:relative;
	width:100%;
	height:100%;
}