body {
	margin:0px;
	padding:0px;	
	background:lightgrey;
}

.mainContainer {
	width:320px;
	height:50px;
	border:1px solid #e9e9e9;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	background:#00AEEF;
}

.slide {
	width:inherit;
	height:inherit;
	position:absolute;
	overflow:hidden;
	background:url(img/320x50_sprite.png) no-repeat 0px 0px;
}

#slide01 {
	width:400px;
	height:400px;
	background-position: 0px 0px;
	opacity:0;
}

#slide02 {
	background-position: 0px -400px;
}

#slide03 {
	width:80px;
	height:50px;
	background-position: 0px -450px;
}

#slide04 {
	width:90px;
	height:50px;
	background-position: -80px -450px;
	opacity:0;
}

#slide05 {
	width:90px;
	height:50px;
	background-position: -170px -450px;
	opacity:0;
}

#slide06 {
	width:230px;
	height:50px;
	background-position: -260px -450px;
	opacity:0;
}

#slide07 {
	width:120px;
	height:80px;
	background-position: 0px -500px;
	opacity:0;
}

#slide08 {
	width:120px;
	height:80px;
	background-position: -120px -500px;
	opacity:0;
}

#slide09 {
	width:120px;
	height:80px;
	background-position: -240px -500px;
	opacity:0;
}

#slide10 {
	width:230px;
	height:50px;
	background-position: 0px -580px;
	opacity:0;
}

#slide11 {
	width:90px;
	height:50px;
	background-position: -230px -580px;
	opacity:0;
}

a.clicktag {
	display:block;
	text-decoration:none;
	border:none;
	position:relative;
	width:100%;
	height:100%;
}