body {
	margin:0px;
	padding:0px;	
	background:lightgrey;
}

.mainContainer {
	width:320px;
	height:480px;
	border:1px solid #e9e9e9;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	background:#00AEEF;
}

.slide {
	width:inherit;
	height:inherit;
	position:absolute;
	overflow:hidden;
	background:url(img/320x480_sprite.png) no-repeat 0px 0px;
}

#slide01 {
	width:480px;
	height:480px;
	background-position: 0px 0px;
	opacity:0;
}

#slide02 {
	background-position: -480px 0px;
}

#slide03 {
	background-position: 0px -480px;
}

#slide04 {
	width:320px;
	height:60px;
	background-position: -320px -480px;
	opacity:0;
}

#slide05 {
	width:320px;
	height:60px;
	background-position: -320px -695px;
	opacity:0;
}

#slide06 {
	width:320px;
	height:155px;
	background-position: -320px -540px;
	opacity:0;
}

#slide07 {
	width:320px;
	height:155px;
	background-position: -320px -755px;
	opacity:0;
}

#slide08 {
	width:320px;
	height:50px;
	background-position: -320px -910px;
	opacity:0;
}

#slide09 {
	width:320px;
	height:50px;
	background-position: -640px -480px;
	opacity:0;
}

#slide10 {
	width:320px;
	height:190px;
	background-position: -640px -530px;
	opacity:0;
}

#slide11 {
	width:320px;
	height:240px;
	background-position: -640px -720px;
	opacity:0;
}

a.clicktag {
	display:block;
	text-decoration:none;
	border:none;
	position:relative;
	width:100%;
	height:100%;
}